body {
	background-color: #000;
	color: #fff;
	font-family: "Arial Narrow";
	-moz-user-select: none;
	-webkit-user-select: none;
	-webkit-user-drag: none;
}

#container {
	width: 100%;
	height: 100%;
	margin: auto;
	position: relative;
}

.menu {
	position: absolute;
	width: 220px;
	font-family:  'Architects Daughter', serif;
}

#game_container {
	position: absolute;
	left: 0;
	width: 900px;
	height: 600px;
	visibility: hidden;
}

#gameTitle {
	font-size: 50px;
	font-weight: bold;
	text-shadow: 4px 4px 8px grey;
	width: 400px;
}
.orangeLink {
	text-decoration: none;
	color: #FFA500;
}

div.button {
	font-size: xx-large;
}

div.button:hover {
	font-size: xx-large;
	color: #800020;
	cursor: pointer;
}

#innerMenu {
	visibility: hidden;
}

img.plus {
	position: absolute;
	height: 10px;
	width: 10px;
	z-index: 1;
}

img.plus:hover {
	cursor: pointer;
}

.box {
	position: absolute;
	background-color: #000;
	opacity: 0.5;
	height: 30px;
	width: 130px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #fff;
	z-index: 1;
}

#healthBarCon {
	position: absolute;
	width: 200px;
	top: 5;
	left: 0;
	z-index: 1;
}

#healthBar {
	height: 7.5px;
}

#manaBarCon {
	position: absolute;
	width: 200px;
	top: 30;
	left: 0;
	z-index: 1;
}

#manaBar {
	height: 7.5px;
}

#heroLevelCon {
	top: 50;
	left: 0;
}

#heroDmgCon {
	top: 80;
	left: 0;
}

#framerate {
	top: 70;
	right: 0;
}

#gameLevelCon {
	top: 10;
	right: 0;
}

#scoreCon {
	top: 40;
	right: 0;
}

#abilities {
	position: absolute;
	width: 200px;
	height: 45px;
	z-index: 1;
	background-color: #696969;
	border: ridge;
	border-width: 3px;
	border-color: #654321;
}

.ability_icon {
	height: inherit;
	width: inherit;
	color: #5DFC0A;
	font-size: x-large;
	font-weight: bold;
	text-align: center;
}

div.iconContainer {
	float: left;
	margin-left: 6%;
	margin-top: 2.5%;
	width: 16.5%;
	border: ridge;
	border-width: 1px;
	border-color: #D3D3D3;
}

div.iconContainer:hover {
	cursor: pointer;
}

div.iconContainer:visited {
	border-color: #D3D3D3;
}

div.iconContainer:active {
	border-color: #808080;
}

#firstAb {
	background-image:
		url("../../images/abilities/Hi-res-Lightning_Hammer.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
}

#secondAb {
	background-image:
		url("../../images/abilities/Hi-res-Lightning_Surge.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
}

#thirdAb {
	background-image:
		url("../../images/abilities/Hi-res-Storm_Djinn's_Haste.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
}

#fourthAb {
	background-image:
		url("../../images/abilities/Hi-res-Lightning_Strike.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
}

.innerText {
	padding: 5px;
}

#canvas {
	z-index: 0;
}